header{text-align: center;font-size: xx-large;text-shadow: 1px 1px;
    ;background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIGAtmLzrMZ-TaLOg9E5K5gxbXDMyCWPDn9Q&s);background-size: cover;background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    margin: 0;
    padding: 0;color:goldenrod;
    padding: 20px;border: soild #333;
    text-align: center;}
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }
    nav {
        margin: 20px;
        text-align: center;border-radius: 2rem;background-color: black;;
    }
    nav a {
        color:goldenrod;
        text-decoration: none;
        margin: 0 15px;
        font-weight: bold;}   
.axe{text-align: center;font-size: xx-large;text-shadow: 1px 1px;
    ;background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3zYuLpG4a04uZERmTPOvYaph2nnzw2NDPpA&s);background-size: cover;background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    margin: 0;
    padding: 0;color:goldenrod;
    padding: 20px;border: soild #333;
    text-align: center;}        
    body{background-color: grey;}
    footer {
        background-color: #0a0b0c;
        color:goldenrod;
        text-align: center;
        padding: 10px;
        position: fixed;
        width: 100%;
        bottom: 0;}