body {
    font-family: Arial, sans-serif;

    background-color: #d4cbcb;
    color: #333;content{ padding: 20px;
        max-width: 800px;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);}
}
header{text-align: center;font-size: xx-large;text-shadow: 1px 1px;color: goldenrod
    ;background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSC9_GlQ4NzJzq1I03CpWwBw9stac4zwsE1g&s);background-size: cover;background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    margin: 0;
    padding: 0;;
    padding: 20px;
    text-align: center;}
h6{font-size: larger;} 
h3{font-size: larger;}  
h5{font-size: larger;}     
h4{font-size: larger;}  
footer {
    background-color: #0a0b0c;
    color:goldenrod;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}  

nav {
    margin: 20px;
    text-align: center;border-radius: 2rem;background-color: black;
}
nav a {
    color:goldenrod;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;}    
    body{background-color: grey;}